ul {
    
    margin: 0;
    padding: 5;
    overflow: hidden;
    background-color: black;
    width:97.5%;
}

li {
	float:right;
}

li a {
     display: inline-block;
    color: white;
    text-align: center;
    padding: 15px 18px;
    text-decoration: none;
}

li a:hover:not(.active) {
    background-color: green;
    
}

.active {
    background-color: red;
}
img{background-size: cover;
    background-repeat: no-repeat;}
.container {
    position: relative;
    width: 100%;
    max-width: 400px;
}


.mySlides {display:none;
			}
