
.fa {
    padding: 25px;
    font-size: 35px;
    width: 75px;
    text-align: left;
    text-decoration: none;
    margin: 5px 2px;
    border-radius: 45%;
  }
  
  .fa:hover {
      opacity: 0.7;
  }
  
  .fa-facebook {
    background: #3B5998;
    color: white;
  }
  
  .fa-twitter {
    background: #55ACEE;
    color: white;
  }
  
  .fa-google {
    background: #dd4b39;
    color: white;
  }
  
  
  
  .fa-youtube {
    background: #bb0000;
    color: white;
  }
  
  .fa-instagram {
    background: #125688;
    color: white;
  }
  
  .fa-pinterest {
    background: #cb2027;
    color: white;
  }
  
  .fa-snapchat-ghost {
    background: #fffc00;
    color: white;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
  }
  .fa-skype {
    background: #00aff0;
    color: white;
  }
  
  .sm{
      position:absolute;
      top:150%;
      
      color:#ffdab9;
      width:100%;
      height:27%;
      background-color:black;
      
  }

  .foot{
	
	position:absolute;
	top: 180%;
	left:0%;
	color:#ffdab9;
	background-color:black;
	padding:0px;

	}
	.bttn {
    position:relative;
    bottom:0%;
    left: 10%;
    background-color:#ffdab9;
    color:black;
    font-size: 16px;
    padding: 14px 25px;
    border: none;
    cursor: pointer;
    border-radius: 13px;
    text-align: center;

 
}  
.venue-container
{
    margin: 40px;
    position: relative;
}
.single-ven{
    border-radius:3px;
    position: relative;
    float: left;
    margin: 15px;
    text-align: center;
    background: #f5aa41;
}
.single-ven:hover{
    box-shadow: 3px 3px grey;
}
#ven{
    border-top-right-radius: 3px;
    border-top-left-radius: 3px;
    position: relative;
	top: 0;
	left: 0;
    height: 200px;
    width: 200px;
    
}
.venue-container a{
    color: black;
}

.image-wrap .description
{
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    top: -5px;
    left: 110%;
}
.image-wrap .description::after{
    content: "";
    position: absolute;
    top: 50%;
    right: 100%;
    margin-top: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent black transparent transparent;
}

ul {
    
    margin: 0;
    padding: 5;
    overflow: hidden;
    background-color: black;
    width:100%;
}

li {
	float:right;
}

li a {
     display: inline-block;
    color: white;
    text-align: center;
    padding: 15px 18px;
    text-decoration: none;
}

li a:hover:not(.active) {
    background-color:#A9A9A9;
    
}

.active {
    background-color:#C0C0C0;
}
